.cart-page {
  background-color: #eaeded;
  display: flex;
  padding: 20px;
  .cart-page-left-side {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 600px;
    flex-grow: 2;
    .cart-empty-message-container {
      display: flex;
      width: 100%;
      .cart-empty-message {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .cart-page-right-side {
    margin: 20px;
  }
}
